<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root {
--theme-bg-color: #3761af;
--theme-color: white;


}
* { 
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  box-shadow: 0 0 2px 0 grey;
  align-items: center;
  font-size: 1em;
  
  background-color:#3761af;
  background-color: var(--theme-bg-color);
  
  color: white;
  color: var(--theme-color);
  

}

.item{
  padding: 10px;
  text-decoration: none;
  color: white;
  color: var(--theme-color);

}

.item.right {
  margin: 0 0 0 auto;
}

.navbar .logo {
  font-size: 1.2em;
  align-items: center;
  display: flex;
}

.logo img {
  max-width: 40px;
}
.item.search {
  transition: 0.2s linear;
  display:flex;
  justify-content: center;
  flex-grow:1;
  
}
.item.search .search-icon {
  border-left: 1px solid grey;
  margin: 2px;
  padding-left: 10px;
  cursor:pointer;
  color: grey;
}
.item.search .search-icon:hover {
  
  color: black;
}

.item.search input {
  width: 100%;
  padding: 6px ;
  outline: none;
  border: 2px solid grey; 
  max-width: 100%;
  border: 0;
}

.item .search-group {
  display:flex;
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
  border: 2px solid grey;
  overflow: hidden;
  background: white;
  
  border-color: white;
  color: var(--theme-color);

}
.item .search-group select{

  border: 0;
  margin: 2px;
  border-right: 1px solid grey;
  max-width: 5em;
  outline: none;
  color: grey;
  
}

.item .group {
  display:flex;
  align-items: center;
  font-size: 0.9em;
}


.item .group .sub{
  font-size: 0.8em;


}

.material-icons {
  font-size:1.8rem;
}


.menu-icon{
  display:none;
}

@media (max-width: 700px) {
  .item.search input {
    display: none;
  }
  .menu-icon {
    display:block;
  }
  .detail,.logo .text {
    display:none;

  }


}
  body {
  padding: 40px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid>article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid>article img {
  max-width: 100%;
}

.grid .text {
  padding: 20px;
}
article{
  text-align: center;
}
button{
  padding: 10px;
  background-color: green;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
</style>
<nav class="navbar">
  <i class="material-icons menu-icon">
    menu
  </i>
  <div class="logo">
    <img src="https://github.com/subeshb1/GrabCheap/blob/master/img/logo_inverse.jpg?raw=true" alt="logo">
    <div class="text">    GrabCheap
    </div>
  </div>
  <div class="item search right" tabindex="0">
    <div class="search-group">
      <select>
        <option value="all">All</option>
        <option value="all">Mens</option>
        <option value="all">Womens</option>
        <option value="all">Winter</option>
        <option value="all">Summer</option>
      </select>
    <input type="text">
    <i class="fa fa-search" style="color: black;width:30px"></i>
      </div>
  </div>
  <div>
    <a href = "/shoping">shoping</a>
    <div>
    <div class="group">
      <div class="detail">
        Account
        <div class="sub"> <a href="/logout">logout</a> </div>
      </div>
    </div>
  </a>
    <div class="group">
    <a href="/cart"><i class="fa fa-shopping-cart" style="font-size:36px"></i></a>
    </div>
  </a>
</nav>
<div id="app" class="container">
  <div class="grid">
    {{#each data}}
    <article>
      <img src="{{this.imageURL}}" alt="">
      <div class="title">
        <h3>{{this.name}}</h3>
      </div>
      <div class="description">
       {{this.slug}}
      </div>
      <button><a href="/addItem/{{this.id}}">Add+</a></button>
    </article>
    {{/each}}
  </div>
</div>