 <form  method="post" action="/register" >
       <label for="name">Enter your name</label>
        <input type="text" name = "myName">
        <br>
        <label for="pass"> Enter your password</label>
        <input type="password" name = "password">
       <br>
        <button>submit</button>
       </form>